@import '../../styles/consts.scss';

.button {
	color: $color-light;
	font-size: 1.4rem;

	background-color: transparent;
	padding: 23px;

	display: inline-block;
	cursor: pointer;
}

.clicked,
.button:hover {
	color: $color-light-clicked;
	background-color: $color-primary-clicked;
}