.gallery {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 48px;
	text-align: center;

	height: 100%;

	* {
		font-size: 1.4rem;
	}
}

.gallery__blocks {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(22.5rem, 22.5rem));
	justify-content: center;
	justify-items: center;
	gap: 48px;

	position: relative;
	top: 52px;
	margin-bottom: 48px;
}

.loader {
	position: relative;
	bottom: 0;
}